<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<!-- APP_ICON_ALTERNATE_BEGIN -->
			<key>white</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>xb2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-xb2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<!-- APP_ICON_ALTERNATE_END -->
		</dict>
	</dict>
	<key>UIApplicationSupportsAlternateIcons</key>
	<true/>
</dict>
</plist>
